name: release.yml

env:
  LC_ALL: C.UTF-8

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-and-publish-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Build
        run: ./gradlew cli:distZip cli:distTar --no-daemon -Prelease.version=${GITHUB_REF_NAME#v}
      - name: Publish Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          body: Release ${{ github.ref_name }}
          files: |
            cli/build/distributions/*.zip
            cli/build/distributions/*.tar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
